parameters:
    paths:
        - packages
    level: 5
    checkMissingIterableValueType: false
    excludePaths:
        - packages/*/Database/Factories/*
        - packages/*/Tests/*
        - vendor/spatie/ray/*
